@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(26, 25, 25);
  font-family: Montserrat;
}

.card {
  width: 300px;
  height: 150px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  padding: 30px 50px;
  background-color: #fff;
  cursor: pointer;
}

.card:hover {
  height: 250px;
}

.imgBox {
  position: relative;
  height: 100%;
  width: 100%;
  transform: translateY(-70px);
  z-index: 1;
}

img {
  width: 100%;
  border-radius: 7px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}

.content {
  padding: 10px 20px;
  text-align: center;
  transform: translateY(-450px);
  opacity: 0;
  transition: 0.3s;
}

.card:hover > .content {
  opacity: 1;
  transform: translateY(-150px);
}
